{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block navbar_brand %}
<a class="navbar-brand" href="{% url 'habits:index' %}"><i class="bi bi-book-half"></i> Nawyki</a>
{% endblock %}

{% block navbar %}
<li class="nav-item"><a class="nav-link" href="{% url 'habits:list' %}"><i class="bi bi-list-check"></i> Lista Nawyków</a></li>
<li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-graph-up"></i> Statystyki</a></li>
{% endblock %}

{% block content %}
{% block content_habits %}
<div class="row g-4">
    <div class="col-md-6">
        <a class="text-decoration-none" href="{% url 'habits:list' %}">
        <div class="card h-100 border-secondary">
            <div class="card-body">
            <h5 class="card-title text-secondary"><i class="bi bi-list-check"></i> Lista nawyków</h5>
            <p class="card-text text-muted mb-0">Lista wszystkich nawyków</p>
            </div>
        </div>
        </a>
    </div>
    <dvi class="col-md-6">
        <a class="text-decoration-none">
        <div class="card h-100 border-white">
            <div class="card-boyd">
                <h5 class="card-title text-dark"><i class="bi bi-info-square-fill"></i> Twoje nawyki</h5>
                {% for habit in habits %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">{{ habit.name }}</span>
                        <span class="input-group-text" id="basic-addon1">Status</span>
                        <div class="input-group-text">
                            <input class="mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                        </div>
                        <input type="text" class="form-control" placeholder="Progress" aria-label="Progress" aria-describedby="basic-addon2">
                    </div>
                {% empty %}
                    <p class="card-text text-muted mb-0">Brak nawyków do wyświetlenia</p>
                {% endfor %}
            </div>
        </div>
        </a>
    </dvi>
</div>
<div class="row g-4 mt-2">
    <div class="col-md-6">
        <a class="btn btn-success w-100" href="{% url 'habits:add' %}">
        <i class="bi bi-plus-circle"></i> Dodaj Nawyk
        </a>
    </div>
</div>
{% endblock %}
{% endblock %}