{% extends 'base.html' %}

{% block title %}Gotowanie{% endblock %}

{% block navbar_brand %}
<a class="navbar-brand" href="{% url 'cooking:index' %}"><i class="bi bi-egg-fried"></i> Gotowanie</a>
{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% block content_cooking %}
{% endblock %}
{% endblock %}